body {
  background: #333;
  color: #eee;
  box-sizing: border-box;
  font-family: sans-serif;
}

// Util

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

// Entities

.item,
.name,
.thumb {
  border: 1px dotted #eee;
}

.name {
  display: inline-block;
}

.thumb {
  $size: 50px;
  width: $size;
  height: $size;
  border-radius: $size;
}

// Regions

.top,
.bottom {
  text-align: center;
}

.left {
  text-align: right;
}

.right {
  text-align: left;
}
